/**
 * @file
 * Font styling
 */

@font-face {
    font-family: 'SansationRegular';
    src: url('../fonts/Sansation_Regular-webfont.eot');
    src: url('../fonts/Sansation_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Sansation_Regular-webfont.woff') format('woff'),
         url('../fonts/Sansation_Regular-webfont.ttf') format('truetype'),
         url('../fonts/Sansation_Regular-webfont.svg#SansationRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationLight';
    src: url('../fonts/Sansation_Light-webfont.eot');
    src: url('../fonts/Sansation_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Sansation_Light-webfont.woff') format('woff'),
         url('../fonts/Sansation_Light-webfont.ttf') format('truetype'),
         url('../fonts/Sansation_Light-webfont.svg#SansationLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationBold';
    src: url('../fonts/Sansation_Bold-webfont.eot');
    src: url('../fonts/Sansation_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Sansation_Bold-webfont.woff') format('woff'),
         url('../fonts/Sansation_Bold-webfont.ttf') format('truetype'),
         url('../fonts/Sansation_Bold-webfont.svg#SansationBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'DroidSerifRegular';
    src: url('../fonts/DroidSerif-Regular-webfont.eot');
    src: url('../fonts/DroidSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSerif-Regular-webfont.woff') format('woff'),
         url('../fonts/DroidSerif-Regular-webfont.ttf') format('truetype'),
         url('../fonts/DroidSerif-Regular-webfont.svg#DroidSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DroidSerifItalic';
    src: url('../fonts/DroidSerif-Italic-webfont.eot');
    src: url('../fonts/DroidSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSerif-Italic-webfont.woff') format('woff'),
         url('../fonts/DroidSerif-Italic-webfont.ttf') format('truetype'),
         url('../fonts/DroidSerif-Italic-webfont.svg#DroidSerifItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DroidSerifBold';
    src: url('../fonts/DroidSerif-Bold-webfont.eot');
    src: url('../fonts/DroidSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSerif-Bold-webfont.woff') format('woff'),
         url('../fonts/DroidSerif-Bold-webfont.ttf') format('truetype'),
         url('../fonts/DroidSerif-Bold-webfont.svg#DroidSerifBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DroidSerifBoldItalic';
    src: url('../fonts/DroidSerif-BoldItalic-webfont.eot');
    src: url('../fonts/DroidSerif-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSerif-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/DroidSerif-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/DroidSerif-BoldItalic-webfont.svg#DroidSerifBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

#content {
	font-family:	verdana, arial, clean, sans-serif;
	position:	absolute;
	left:		25%;
	top:		20px;
	width:		70%;
	border:		thin solid black;
	padding:	20px;
}

#content h2 {
	font-size:		1.2em;
	text-align:		center;
	background-color:	#0099cc;
	color:			#fff;
	width:			90%;
	padding:		5px;
	margin:			5px 5%;
	//margin-left:		20%;
	border-radius:  8px;
	-moz-border-radius:	8px;
	-webkit-border-radius:	8px;
}

#content h1 {
	font-size:		2em;
	text-align:		center;
	background-color:	#0099cc;
	color:			#fff;
	width:			90%;
	padding:		5px;
	margin:			5px 5%;
	//margin-left:		20%;
	border-radius:  8px;
	-moz-border-radius:	8px;
	-webkit-border-radius:	8px;
}


#content p {
	color:			#003366;
	font-size:		1.1em;
}

#content table {
	margin-top:		10px;
	border-collapse:	collapse;
	width:			100%;
	background-color:	#f0f0ff;
}

#content table th {
	background-color:	#333;
	padding:		5px 10px;
	border:			thin solid #c3c3c3;
	color:			#fff;
}


#content table tr.alt td 
{
	color:			#000000;
	background-color:	#f8f8ff;
}


#content td {
	padding:		8px 10px;
	border:			thin solid #c3c3c3;
	background-color:	#f0f0ff;
}

#content table.equalCols td {
	width:			50%;
	border:			none;
}

#content table.threeCols td {
	width:			33%;
}

#content table.threeCols select, #content table.threeCols input {
	width:			200px;
}

#content tr#lastRow {
	color:			#ff0000;
}

#content tr#lastRow td{
	padding:		10px 10px;
}

#content #pager {
	margin:			20px 0px;
	font-size:		0.9em;
	width:			30%;
}

#ui #content .allotTable th{
	text-align:		left;
	width:			40%;
}

#ui #content .allotTable td{
	font-size:		0.95em;
	width:			60%;
}

#content p.underline {
	text-decoration:		underline;
	margin:				10px 10px;
	font-size:			1.1em;
	
}

#content p.nounderline {
	text-decoration:		none;
	font-size:			1.0em;
	color:				black;
}

.emptyRow {
	padding:			20px 0px;
}

.report tr {
	border:				none;
}

#ui #content .report td{
	border:				none;
	text-align:			right;
}

#ui #content .report td.left {
	text-align:			left;
	border:				none;
}

#ui #content .bold {
	font-weight:			bold;
}


form {
	border:				none;
}

#ui #content #booking td{
	border:				none;
	font-size:			0.9em;
}

#ui #user_content {
	font-family:			verdana, arial, clean, sans-serif;
	position:			absolute;
	left:				25%;
	top:				20px;
	width:				70%;
	border:				thin solid black;
	padding:			20px;
}

#ui #user_content h2 {
	font-size:		1.2em;
	text-align:		center;
	background-color:	#0099cc;
	color:			#fff;
	width:			90%;
	padding:		5px;
	margin:			5px 5%;
	//margin-left:		20%;
	border-radius:  8px;
	-moz-border-radius:	8px;
	-webkit-border-radius:	8px;
}

#ui #user_content p {
	color:			#003366;
	font-size:		1.1em;
	width:			70%;
	text-align:		center;
	margin:			0px auto;
	text-decoration:	underline;
}

#ui #user_content table {
	border:			none;
	width:			70%;
	margin:			10px auto;
	background-color:	#F0F0FF;
}

#ui #user_content table table {
	border:			none;
	width:			100%;
	margin:			0px;
	font-size:		0.9em;
}

#ui #user_content table table td{
	width:			25%;
}


#ui #user_content td {
	padding:		10px 10px;
	border:			none;
	width:			75%;
}

#ui #user_content th {
	text-align:		left;
	width:			25%;
	font-size:		0.9em;
	padding:		10px 10px;
}

#ui #user_content tr#lastRow {
	color:			#ff0000;
}

#ui #user_content tr#lastRow td{
	padding:		10px 10px;
}

#ui #user_content #pager {
	margin:			20px 0px;
	font-size:		0.9em;
	border:			thin solid black;
	width:			30%;
}

#ui #user_content .button {
	width:			100px;
}

#ui #user_content .left {
	margin:			20px 0px 0px 63%;
	width:			100px;
}

#ui #user_content select {
	margin-left:		30%;
	width:			70%;
	width:			260px;
}

.down {
	margin-top:		30px;
}

#ui #user_content #change_pass select {
	margin-left:		35%;
	width:			65%;
	width:			325px;
}

#ui #user_content #change_pass div {
	margin-top:		0px;
	margin-left:		35%;
	width:			65%;
}

#ui #user_content #change_pass .down {
	margin-left:		55%;
	width:			100px;
}

#ui #content #gotocomplaint {
	position: 	relative;
	top:		-60px;
	left:		68%;
	width:		32%;
	text-align:	right;
	border:			thin solid #c3c3c3;
}

#ui #content #gotocomplaint_1 {
	position: 	relative;
	top:		-70px;
	left:		68%;
	width:		32%;
	text-align:	right;
}

#ui #content #gotocomplaint_cancel {
	position: 	relative;
	top:		-105px;
	left:		68%;
	width:		32%;
	text-align:	right;
}

#ui #content #admin_cgo {
	position: 	relative;
	top:		-53px;
	left:		74%;
	width:		26%;
	text-align:	right;
}

#ui #content #selectStatus {
	position:	relative;
	top:		-52px;
	left:		33%;
	width:		38%;
}

#ui #content #selectUser {
	position:	relative;
	top:		-51px;
	left:		33%;
	width:		38%;
}

#user_content #error_msg {
	font-size:	0.9em;
	color:		#ff0000;
}

#ui #content .warning_msg {
	font-size:	0.9em;
}

#ui #content .red {
	color:		#ff0000;
}

#statistics {
	color:		yellow;
	padding:	1px;
	margin-left:	20px;
	font-size:	1.2em;
}

select#locality {
	width:		220px;
}

#ui #content .borders th {
	border:			thin solid #c3c3c3;
	width:			40%;
	padding:		5px 10px;
	background-color:	#e0e0ee;
	color:			#000000;
}

#ui #content .borders td {
	border:			thin solid #c3c3c3;
	width:			60%;
	padding:		5px 10px;
}

#ui #content #popUp {
	position:		fixed;
	top:			120px;	
	right:			20%;
	width:			600px;
	height:			350px;
	padding:		10px 0px 10px 10px;
	border-radius:		8px;
	border:			thin solid #555;
}

#ui #content #popUp #closeB {
	display:		inline-block;
	float:			right;
	//margin-top:		-20px;
	width:			20px;
	height:			20px;
	cursor:			pointer;
	z-index:		10;
	background-color:	gray;
	color:			white;
	text-align:		center;
	border:			thin solid #222;
}

#ui #content #popUp h3 {
	font-size:		1.1em;
	width:			590px;
	//height:		20px;
	background-color:	#0099cc;
	color:			black;
	padding:		5px 0px;	
	margin-top:		-5px;
}

#ui #content #popUp pre {
	text-align:		justify;
	font-size:		1.0em;
	color:			black;
	height:			320px;
	margin-right:		10px;
	overflow-x:		scroll;
        overflow-y:             scroll;
}

#ui #content .blueBG {
	background-color:	#93E1FF;
}

#ui #content .report_header {
	margin:			10px auto 10px auto;
	font-family:		SansationLight;
	font-size:		1.2em;
	font-weight:		normal;
	cursor:			pointer;
}

#ui #content .ishow, #ui #content .ihide {
	cursor:			auto;
}

#ui #content .report {
	margin:			40px auto 30px auto;
	width:			70%;
	border:			1px solid #c3c3c3;
}

#ui #content .report td{
	padding:		15px 10px;
}

#ui #content #underline{
	
        font-size:		1.0em;
	text-align:		center;
	background-color:	#0099cc;
	color:			#fff;
	width:			30%;
	padding:		5px;
	margin:			10px auto;
	//margin-left:		35%;
}

.center {
	text-align:		center;
}
a.one:link {
color:				#006600;
}
a.one:visited {
color:				#0000ff;
text-decoration:	underline;
}
a.one:hover {
color:#80B280;
}
a.two:link {
color:#0000FF; 
//font-weight: bold;
}
a.two:visited {
color:#0000ff;
}
a.two:hover {
color:#6666FF;
}

#ui #user_content #changeScope {
	width:			70%;
	border:			thin solid #999;
	text-align:		center;
	margin:			10px 15%;
	//margin-left:		21%;	
	background-color:	#f0f0ff;
}

#ui #user_content #changeScope select, #ui #user_content #changeScope textarea, #ui #user_content #changeScope input{
	margin:			10px 0px;;
}

#ui #content .borderTable table, #ui #user_content .borderTable table {
	border:			thin solid #999;
}

#ui #content .tempBG {
	background-color:	#d8d8df;
}

#ui #content #cancelButtons {
	position:		relative;
	top:			56px;
	left:			32%;
	background-color:	#dcdcdc;
	width:			38%;
	text-align:		center;
	padding:		5px;
	border:			thin solid #444;
}

.hiddenElem {
	display:		none;
}
