<!DOCTYPE html>
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=450, user-scalable=no">


    <title>GDZLLA SMASH PAGE (NOT FOUND)</title>

    <link href="/static/error-404/01.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/static/error-404/02.css" media="only screen and (max-device-width: 480px)" rel="stylesheet" type="text/css" />
    <link href="/static/error-404/ankur.css" rel="stylesheet" type="text/css">
    <script src="/static/error-404/main.js" type="text/javascript"></script>


</head>

<body class="error_page">
    
    <div id="wrap" class="clearfix">
        <div id="header">
            
            <h6>{% if error_message %}{{ error_message }}{% endif %}</h6>
            <h6 ><a href="/rtc/" style="color:red">Go to Home</a></h6>
        </div>
        

        <div id="smash">
            <div class="skull">
                <div class="eyes">
                    <img alt="Eyes01" class="pupils" src="/static/error-404/01.png" />
                    <img alt="Hilites02" class="hilites" src="/static/error-404/02.png" />
                </div>
                <img alt="Face04" class="face" src="/static/error-404/03.png" />
            </div>
        </div>


    </div> <!-- /#wrap -->



</body>
</html>