{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hospitality</title>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        
        <link rel="stylesheet" type="text/css" href="{% static "res/fonts/font-awesome/css/font-awesome.min.css"%}">
        
        <link rel="stylesheet" type="text/css" href="{% static "res/bootstrap/css/bootstrap.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "res/bootstrap/css/bootstrap-theme.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "res/bootstrap/css/dashboard.css"%}">
        
        <link rel="stylesheet" type="text/css" href="{% static "res/css/reception.css"%}">
        
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Reception-RTC</a>
                </div>
                
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">UserName : {{user}}<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/rtc/logout">Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li class="active"><a href="/rtc/reception">All Requests <span class="sr-only">(current)</span></a></li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li><a href="">Scheduled</a></li>
                        <li><a href="">Pending</a></li>
                        <li><a href="">Completed</a></li>
                    </ul>
                   <ul class="nav nav-sidebar">
                        <li><a href="/rtc/rec_form">Add new request</a></li>
                        </ul>
                </div>
                
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <h1 class="page-header">All Requests</h1>
                    <div class="row placeholders">
                        
                        
                        <!--
                        <div class="col-xs-6 col-sm-3 placeholder accepted">
                            <i class="fa fa-car"></i>
                            <h4>Patient Name</h4>
                            <p>This is the description of the request. This is the description of the request. This is the description of the request. This is the description of the request.</p>
                            <button>Print</button>
                            <span class="text-muted">Something else</span>
                        </div>
                        <div class="col-xs-6 col-sm-3 placeholder pending">
                            <i class="fa fa-car"></i>
                            <h4>Patient Name</h4>
                            <p>This is the description of the request. This is the description of the request. This is the description of the request. This is the description of the request.</p>
                            <button>Print</button>
                            <span class="text-muted">Something else</span>
                        </div>
                        <div class="col-xs-6 col-sm-3 placeholder rejected">
                            <i class="fa fa-car"></i>
                            <h4>Patient Name</h4>
                            <p>This is the description of the request. This is the description of the request. This is the description of the request. This is the description of the request.</p>
                            <button>Print</button>
                            <span class="text-muted">Something else</span>
                        </div>
                        <div class="col-xs-6 col-sm-3 placeholder accepted">
                            <i class="fa fa-car"></i>
                            <h4>Patient Name</h4>
                            <p>This is the description of the request. This is the description of the request. This is the description of the request. This is the description of the request.</p>
                            <button>Print</button>
                            <span class="text-muted">Something else</span>
                        </div>
                        <div class="col-xs-6 col-sm-3 placeholder pending">
                            <i class="fa fa-car"></i>
                            <h4>Patient Name</h4>
                            <p>This is the description of the request. This is the description of the request. This is the description of the request. This is the description of the request.</p>
                            <button>Print</button>
                            <span class="text-muted">Something else</span>
                        </div>
                        <div class="col-xs-6 col-sm-3 placeholder rejected">
                            <i class="fa fa-car"></i>
                            <h4>Patient Name</h4>
                            <p>This is the description of the request. This is the description of the request. This is the description of the request. This is the description of the request.</p>
                            <button>Print</button>
                            <span class="text-muted">Something else</span>
                        </div>
                        -->
                        
                        
                        <table id="request-table">
                            <tr>
                                <td>
                                    <div id="waitinglist">
                                        <h1>Scheduled Requests</h1>
                                        <i class="fa fa-calendar"></i>
                                        {% for i in waiting %}
                                        <div>
                                            <h1>Application No. <span>{{ i.appoint_no }}</span></h1>
                                            <h2>Patient's Name: <span>{{ i.name }}</span></h2>
                                            <h3>Doctor's Name: <span>{{ i.doctor.name }}</span></h3>
                                            
                                        </div>
                                        {% endfor %}
                                    </div>
                                </td>
                                <td>
                                    <div id="pendinglist">
                                        <h1>Pending Requests</h1>
                                        <i class="fa fa-refresh"></i>
                                         {% for i in pending %}
                                        <div>
                                            <h1>Application No. <span>{{ i.appoint_no }}</span></h1>
                                            <h2>Patient's Name: <span>{{ i.name }}</span></h2>
                                            <h3>Doctor's Name: <span>{{ i.doctor.name }}</span></h3>
                                            
                                        </div>
                                        {% endfor %}
                                    </div>
                                </td>
                                <td>
                                    <div id="completedlist">
                                        <h1>Completed Requests</h1>
                                        <i class="fa fa-check"></i>
                                         {% for i in completed %}
                                        <div>
                                            <h1>Application No. <span>{{ i.appoint_no }}</span></h1>
                                            <h2>Patient's Name: <span>{{ i.name }}</span></h2>
                                            <h3>Doctor's Name: <span>{{ i.doctor.name }}</span></h3>
                                    <form method="post" >{% csrf_token %}<a href="/rtc/print_prescription"><button>Print</button></a></form>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </td>
                            </tr>
                        </table>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        
        
        <script src="{% static "res/bootstrap/js/jquery.min.js"%}"></script>
        <script type="text/javascript" src="{% static "res/bootstrap/js/bootstrap.min.js"%}"></script>
        
        <script type="text/javascript" src="{% static "res/js/script.js"%}"></script>
          <script type="text/javascript" >        
      
            function refresh(){
                $.ajax({ url: "/rtc/rec_waiting_list/",
                        type: 'POST',
                        success: function(data) {
                                                   $('#waitinglist').html(data);

                                            },
                        }); 

                $.ajax({ url: "/rtc/rec_completed_list/",
                        type: 'POST',
                        success: function(data) {
                                                   $('#completedlist').html(data);
                                                   
                                            },
                        });
               $.ajax({ url: "/rtc/rec_pending_list/",
                        type: 'POST',
                        success: function(data) {
                                                   $('#pendinglist').html(data);

                                            },
                        });
            } 

            $(function(){

                            refresh();
                            var int = setInterval("refresh()", 1000);

            });           


        </script>

        
    </body>
</html>