{% extends "login/admin_homepage.html" %}

{% block page-wrapper %}

<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">NEW USER</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">

                                    <h3>Enter Doctor Details : </h3>
                                      <form method="post" action="doctor_added">
                                        
                                            {% csrf_token %}
                                            <label>User Name:</label> 
                                            <input type="text" class="form-control" name="username" placeholder="Enter Username"><br> 

                                            <label>Password:</label> 
                                            <input type="text" class="form-control" name="password" placeholder="Enter Password"><br> 
                                            
                                            <label>Name:</label> 
                                            <input type="text" class="form-control" name="name" placeholder="Enter Name"><br>

                                            <label>Speciality:</label> 
                                            <input type="text" class="form-control" name="speciality" placeholder="Enter Speciality"><br> 

                                            <label>Qualification:</label> 
                                            <input type="text" class="form-control" name="username" placeholder="Enter Qualification"><br> 

                                              
                                            
                                            <br><br>
                                            
                                           <button class="btn btn-default" type="submit" name="commit" value="Submit">Submit</button>

                                      <br>
                                      
                                </div>
                                
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
        {% endblock page-wrapper %}