<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FAQs</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div>

       

        <div style="padding:25px">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Frequently Asked Questions</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            What are the medical facilities provided by the Institute?
                        </div>
                        <div class="panel-body">
                            <p>Institutes medical facility has three major components. i) Out Patient Treatment and Referrals (OPD), ii) In Patient Treatment and Referrals (IPD).</p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            What are the prevailing medical rules of the Institute?
                        </div>
                        <div class="panel-body">
                            <p>The medical rules are available on the Intranet site http://shilloi.iitg.ernet.in/~establishment/Medical_Rules/Revised_Medical_Rules.pdf</p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            What is Medical Insurance Scheme (MIS) of the Institute?
                        </div>
                        <div class="panel-body">
                            <p>In order to outsource the medical reimbursements towards the expenses of IPD, the Institute haschosen a “Group Medical Insurance Policy” offered by an Insurer. The Institute takes this policy every year through a tendering process. This is the MIS of the Institute. blocks of Rs. 1 lakh upto the top-up of Rs. 5 lakhs. The top-up premium shall be paid by the employee.</p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Who will process the reimbursement claims?
                        </div>
                        <div class="panel-body">
                            <p>The Insurer shall engage an agency called Third Par
ty Administrator (TPA) through which the
reimbursement claims will be processed. </p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Time Table
                        </div>
                        <div class="panel-body">
                            <p>OPD TIMINGS: IITG HOSPITAL W.E.F. 01/12/2012<br>
(1)Institute Medical Officers<br>
DOCTOR'S NAME<br>
DR. M BORTHAKUR<br>
DR. L BARUA<br>
DR. A K BARUAH<br>
DAY<br>
MONDAY<br>
5.30 PM to 7.30 PM<br>
9.00 AM to 11.00 AM and <br>
4.30 PM to 5.30 PM<br>
8.00 AM to 11.00 AM<br>
TUESDAY<br>
9.00 AM to 11.00 AM<br> 
4.30 PM to 7.30 PM<br>
WEDNESDAY<br>
8.00 AM to 10.00 AM<br>
4.30 PM to 7.30 PM<br>
THURSDAY<br>
4.30 PM to 5.30 PM<br>
8.00 AM to 11.00 AM<br>
FRIDAY<br>
8.00 AM to 10.00 AM<br>
9.00 AM to 11.00 AM and <br>
4.30 PM to 5.30 PM<br>
4.30 PM to 7.30 PM<br>
* The Institute Medical Officers OPD Schedule: Subject to change during period of leave.<br>
(2)Medical Consultant on working weekdays (Monday to Friday)<br>
TIMINGS<br>
8.00 AM TO 11.00 AM<br>
DOCTORS<br>
DR. R K KHATONIAR<br>
N.B.:  (1) From 11.00 AM to 4.30 PM OPD service will not be available.<br>
           (2) The Visiting Consultants Dr. B S Neog (Psychiatrist) and Dr. S Majumdar (Paediatrics) <br>
            will be available for OPD consultation as per earlier schedule.<br>
Sd/-<br>
Dr. Mala Borthakur<br>
Chief Medical Officer<br>
IIT Guwahati<br>
*TIMINGS<br>
4.30 PM TO 7.30 PM<br>
DR. N P DAS & DR. S BORAH</p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Who will process the reimbursement claims?
                        </div>
                        <div class="panel-body">
                            <p>The Insurer shall engage an agency called Third Par
ty Administrator (TPA) through which the
     reimbursement claims will be processed. </p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            How does the Insurer/TPA recognize a member of MIS? 
                        </div>
                        <div class="panel-body">
                            <p>The  Insurer/TPA  shall  issue  an  ID-Card  to  each  memb
er  (including  all  family  members 
who  are  covered  under  the  policy)  of  the  MIS.  This 
ID-Card  shall  be  used  for  any 
hospitalization and reimbursements. </p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Should anyone be informed and get permission about 
any hospitalization?  
                        </div>
                        <div class="panel-body">
                            <p>Yes,  TPA  shall  be  informed  regarding  any  hospitaliz
ation  for  which  reimbursements  are 
expected. In case of planned hospitalization, TPA s
hall give a pre-authorization. In case of 
emergency, TPA shall be informed within 24 hours of
 hospitalization.</p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Is there any restriction on the hospitals to get th
e treatment?  
                        </div>
                        <div class="panel-body">
                            <p>No. Any Institution in India established for indoor
 care and treatment of sickness and injuries 
and which has been registered either as hospital or
 nursing home with the local authorities and 
is under the supervision of a registered and qualif
ied medical practitioner will be considered. </p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            What are network hospitals and their advantages? 
                        </div>
                        <div class="panel-body">
                            <p>The  Insurer/TPA  has  tie-up  with  some  hospitals  acro
ss  the  country  called  the  network  hospitals. 
The members of MIS can have cashless treatment in t
he network hospitals. The Insurer/TPA shall 
directly pay the entitled medical expenses to the n
etwork hospitals. In case of the treatment in non-
network hospitals, the members have to pay first an
d then claim for reimbursement.</p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            What is the claim procedure? 
                        </div>
                        <div class="panel-body">
                            <p>The hospitalization of members which is duly inform
ed/pre-authorized to/by TPA (as per FAQ 18) is 
eligible  for  reimbursement.  For  which,  the  member  s
hall  submit  a  duly  filled  claim  form  (in  the 
prescribed  format)  to  TPA  along  with  the  following 
documents.  i)  A  copy  of  doctor’s  advice.  ii)  A 
copy  of  discharge  certificate  from  the  hospital.  ii
i)  Bills/receipts/cash  memos  in  original  from  the 
hospital supported by a copy of doctor’s prescripti
on. iv) Copies of diagnostic test reports supported
by the advice of the attending medical practitioner
/ surgeon justifying such diagnostics. </p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            How to contact the TPA? 
                        </div>
                        <div class="panel-body">
                            <p>TPA can be contacted on the phone numbers given in 
ID-Card. The TPA shall provide a helpdesk at 
the Institute on regular basis. At present, the hel
pdesk is opened twice a week on Tuesday and 
Friday. </p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            What is the procedure to get treatment outside Guwa
hati? 
                        </div>
                        <div class="panel-body">
                            <p>It is the same across the country. The Insurer/TPA 
shall have their offices in all big cities to deal 
with the cases. 
</p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Who is the current Insurer? 
                        </div>
                        <div class="panel-body">
                            <p>The  Oriental  Insurance  Co.  Ltd.,  Mani  Bhawan,  1
st
  Floor,  Railway  Gate  No.1,  Maligaon, 
Guwahati-781011</p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            What is the current policy period?
                        </div>
                        <div class="panel-body">
                            <p>For employees: from 01.08.2014 (10.00am) to 01.08.2
015 (09.59am) </p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            What are the contact details of TPA’s help desk at 
IITG?  
                        </div>
                        <div class="panel-body">
                            <p>Raksha TPA
,  Regional Office : C/o- RNIS College, By lane  No.1
, Near Rajeev Bhawan, 
Guwahati,   Tel   No.   0361-2466056,   Fax      No.   0361-24660
57,   Mobile   Phone   No. 
9435224220   (Raktim   Phukan),   e-mail   id   :   raktim.phuk
an@rakshatpa.com,   www   : 
rakshatpa.com </p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/sb-admin-2.js"></script>

</body>

</html>
