  <link href="/static/css/bootstrap.min.css" rel="stylesheet">

                                        <body>

                                        <table class="table">
                                              <tr>
                                                <th>FORM TYPE</th>
                                                <th>FORM NUMBER</th>       
                                                <th>pdf LINK</th>
                                              </tr>
                                            
                                              <tr>
                                                    <td>Reimbursement Form For OPD Treatment by Institute Doctor</td>
                                                    <td>FORM 1</td>
                                                    <td><a href="http://shilloi.iitg.ernet.in/~medical/Reimbursement%20Form%20For%20OPD%20Treatment%20by%20Institute%20Doctor.pdf">pdf</td>  
                                               </tr>
                                               <tr>
                                                    <td>Reimbursement Form For OPD Treatment by Outside Doctor</td>
                                                    <td>FORM 2</td>
                                                    <td><a href="http://shilloi.iitg.ernet.in/~medical/Reimbursement%20Form%20For%20OPD%20Treatment%20by%20Outside%20Doctor.pdf">pdf</td>  
                                               </tr>
                                               <tr>
                                                    <td>Reimbursement Form For Indoor (Hospitalised) Treatment</td>
                                                    <td>FORM 3</td>
                                                    <td><a href="http://shilloi.iitg.ernet.in/~medical/Reimbursement%20Form%20For%20Indoor%20(Hospitalised)%20Treatment.pdf">pdf</td>  
                                               </tr>
                                               <tr>
                                                    <td>Medical Leave Form</td>
                                                    <td>FORM 4</td>
                                                    <td><a href="http://shilloi.iitg.ernet.in/~medical/Medical%20Leave%20Form.pdf">pdf</td>  
                                               </tr>
                                               <tr>
                                                    <td>Medical certificate of Fitness to Return to Duty</td>
                                                    <td>FORM 5</td>
                                                    <td><a href="http://shilloi.iitg.ernet.in/~medical/Medical%20certificate%20of%20Fitness%20to%20Return%20to%20Duty.pdf">pdf</td>  
                                               </tr>
                                               
                                               <tr>
                                                    <td>Annexure- A</td>
                                                    <td>FORM 6</td>
                                                    <td><a href="http://shilloi.iitg.ernet.in/~medical/Annexure-A.pdf">pdf</td>  
                                               </tr>

                                        </table>