{% extends "login/recep_homepage.html" %}

{% block page-wrapper %}

<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Ambulance Schedules</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">

                                    <h3>AMBULANCE SCHEDULES FOR THE WEEK</h3> 

                                    <style>
                                        table, th, td {
                                            border: 1px solid black;
                                            border-collapse: collapse;
                                        }
                                        th, td {
                                            padding: 5px;
                                        }
                                        </style>                                       

                                        <body>

                                        <table style="width:100%">
                                              <tr>
                                                <th>DAY</th>
                                                <th>TIME</th>       
                                                <th>NO OF STUDENTS</th>
                                                <th>GOING</th>
                                              </tr>
                                            
                                              {% for sch in object_schedule %}
                                              <tr>
                                                    <td>{{ sch.Day }}</td>
                                                    <td>{{sch.Time}}</td>
                                                    <td>{{sch.Count}}</td>  
                                                    <td>                                {% ifequal sch.Availability True %}
                                                    YES
                                                    {%else%}
                                                    NO
                                                    {%endifequal%}</td>
                                               </tr>
                                                {% endfor %}
                                        
                                        </table>

                                    <h3>UPDATE AMBULANCE SCHEDULE</h3>
                                      <form method="post" action="recep_submit">
                                        {% csrf_token %}
                                        <!--<p><input type="text" name="Day" value="" placeholder="Enter Day"></p>-->

                                        <select name="Day" size="1">
                                            <option value="Monday">Monday</option>
                                            <option value="Tuesday">Tuesday</option>
                                            <option value="Wednesday">Wednesday</option>
                                            <option value="Thursday">Thursday</option>
                                            <option value="Friday">Friday</option>
                                            <option value="Saturday">Saturday</option>
                                            <option value="Sunday">Sunday</option>
                                          </select>
                                        <br><br>
                                        <p><input type="number" min="0" max="23" name="Time_h" value="" placeholder="Hour of Departure"> (24 hrs system)</p>

                                        <p><input type="number" min="0" max="59" name="Time_m" value="" placeholder="Min of Departure"></p>
                                         
                                        <input type="radio" name="availability" value="1" checked>Available
                                        <input type="radio" name="availability" value="0">Not Available
                                        
                                        <p class="submit"><input type="submit" name="commit" value="Submit"></p>
                                      </form>

                                      <br>
                                      <h3>RESET AMBULANCE SCHEDULE</h3>
                                      <form method="post" action="login/recep_submit">
                                         {% csrf_token %}
                                   
                                          <select name="reset_day" size="1">
                                            <option value="Monday">Monday</option>
                                            <option value="Tuesday">Tuesday</option>
                                            <option value="Wednesday">Wednesday</option>
                                            <option value="Thursday">Thursday</option>
                                            <option value="Friday">Friday</option>
                                            <option value="Saturday">Saturday</option>
                                            <option value="Sunday">Sunday</option>
                                          </select>
                                          <br><br>
                                          <p class="submit"><input type="submit" name="reset" value="Reset"></p>
                                          <p> *click reset to Reset the ambulance schedules for the selected day </p>
                                          <br>
                                      </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                                <!--<div class="col-lg-6">
                                    <form role="form">

                                            
                                            
                                        
                                    </form>
                                    
                                    <h3>You can also call at this number for help.</h3>
                                    
                                </div>-->
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
        {% endblock page-wrapper %}