<h2>Hello, {{ object_reg.username }} !</h2>
<h2>RECEPTIONIST HOMEPAGE</h2>
<h3>AMBULANCE SCHEDULES FOR THE WEEK</h3> 
<ol>
{% for num in object_schedule %}

<li>{{ num }}</li>

{% endfor %}
</ol>
<br><br>
<div class="update_schedule">
      <h3>UPDATE AMBULANCE SCHEDULE</h3>
      <form method="post" action="login/recep_homepage">
        {% csrf_token %}
        <!--<p><input type="text" name="Day" value="" placeholder="Enter Day"></p>-->

        <select name="Day" size="1">
		    <option value="Monday">Monday</option>
		    <option value="Tuesday">Tuesday</option>
		    <option value="Wednesday">Wednesday</option>
		    <option value="Thursday">Thursday</option>
		    <option value="Friday">Friday</option>
		    <option value="Saturday">Saturday</option>
		    <option value="Sunday">Sunday</option>
		  </select>

        <p><input type="number" min="0" max="23" name="Time_h" value="" placeholder="Hour of Departure"> (24 hrs system)</p>

        <p><input type="number" min="0" max="59" name="Time_m" value="" placeholder="Min of Departure"></p>
         
        <input type="radio" name="availability" value="1" checked>Available
		<input type="radio" name="availability" value="0">Not Available
        
        <p class="submit"><input type="submit" name="commit" value="Submit"></p>
      </form>

      <br>
      <h3>RESET AMBULANCE SCHEDULE</h3>
      <form method="post" action="login/recep_homepage">
      	 {% csrf_token %}
   
      	  <select name="reset_day" size="1">
		    <option value="Monday">Monday</option>
		    <option value="Tuesday">Tuesday</option>
		    <option value="Wednesday">Wednesday</option>
		    <option value="Thursday">Thursday</option>
		    <option value="Friday">Friday</option>
		    <option value="Saturday">Saturday</option>
		    <option value="Sunday">Sunday</option>
		  </select>

	      <p class="submit"><input type="submit" name="reset" value="Reset"></p>
	      <p> *click reset to Reset the ambulance schedules for the selected day </p>
	      <br>
      </form>


    </div>

<h2><a href="/login/logout">LOG OUT</a></h2>