<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>

<form action="login" method="post">
    {% csrf_token %}

        <div class="form-group">
            <input class="form-control" placeholder="Username" name="username">
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Password" name="password" type="password" value="">
        </div>
        <p class="text-danger">{% if error_message %}{{ error_message }}{% endif %}</p>
        <!-- Change this to a button or input when using this as a form -->
        <input type="submit" class="submit" value="Login"></input>
</form>


</body>
</html>